<div class="actions">
  <% if use_scoped_resources? %>
    <% Category.where(realm: current_realm).active.each do |category| %>
    <%= link_to category.name, cakes_url(category: category.slug), class: 'btn' %>
    <% end %>
  <% else %>
    <% Category.active.each do |category| %>
    <%= link_to category.name, cakes_url(category: category.slug), class: 'btn' %>
    <% end %>
  <% end %>
</div>
<% unless @category.blank? || @category.subcategories.empty? %>
  <div class="actions actions--mini">
    <% @category.subcategories.each do |key, value| %>
      <%= link_to value, cakes_url(category: @category.slug, subcategory: key), class: 'btn btn--mini' %>
    <% end %>
    <% if @category.slug == "tortas_de_novios" %>
      <%= link_to "Cupulas", wedding_toppings_url, class: 'btn btn--mini btn--highlight' %>
    <% end %>
  </div>
<% end %>
