.text-center
  = render 'layouts/catalog_header'
  %h1 ¡Las más populares!
  %hr.sep
  - @most_popular.each_with_index do |c, index|
    = render partial: 'item', locals: {c: c, index: index}
  .clearfix
  %h1 ¡Nuevas Tortas!
  %hr.sep
  - @newest.each_with_index do |c, index|
    = render partial: 'item', locals: {c: c, index: index}
  = render "layouts/modal"
  .clearfix
