.text-center
  = render 'catalog_header'
  - @cakes.each_with_index do |c, index|
    = render partial: 'item', locals: {c: c, index: index}
  = render "layouts/modal"
  .clearfix
  .apple_pagination
    = will_paginate @cakes, container: false, previous_label: 'Anterior', next_label: 'Siguiente'
