.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    %h1#delivery.text-center Despacho
    %hr.sep
    #delivery-wedding
      %h3 Tortas de novios
      %p Los valores de los despachos de tortas de novios varían sólo por la lejanía de nuestro local al local del matrimonio.
      %p Es importante saber que los despachos tienen un rango de horario que va de 1 a 4 horas antes del matrimonio, o sea, si su matrimonio es a las 21:00 hrs. podemos llegar desde 16:00 hrs. hasta las 20:00 hrs.
      %p Los despachos para tortas de menos de 100 personas se rige bajo los despachos de tortas normales, o sea, de lunes a viernes antes de las 18:00 hrs.
      %p Los sectores marcados con un ▪ se despachan en la mañana, antes de las 13:00 hrs.
      %p
        Teniendo claro los puntos anteriores y sabiendo que llevamos un producto alimenticio, la pastelería no se hace responsable de tortas instaladas en carpas, recintos cerrados con mucho calor o cerca de una chimenea. (ESA ES RESPONSABILIDAD DEL CLIENTE)
      %p El valor de despacho es de $20.000, y entregamos a las comunas:
      .col-xs-12.col-sm-4.col-sm-offset-2.hidden-md.hidden-lg
        %table.delivery.text-center
          %tr
            %td Independencia
          %tr
            %td Recoleta
          %tr
            %td Santiago centro
          %tr
            %td Conchalí
          %tr
            %td Vitacura
          %tr
            %td La Reina
          %tr
            %td Ñuñoa
          %tr
            %td Las Condes
          %tr
            %td Quinta Normal
          %tr
            %td Estación Central
          %tr
            %td Renca
          %tr
            %td Macul
          %tr
            %td Huechuraba
          %tr
            %td San Miguel
          %tr
            %td San Joaquín
          %tr
            %td Pedro Aguirre Cerda
          %tr
            %td Cerro Navia
          %tr
            %td Lo Prado
          %tr
            %td Cerrillos
          %tr
            %td San Ramón
          %tr
            %td La Cisterna
          %tr
            %td La Granja
          %tr
            %td Lo Espejo
          %tr
            %td Peñalolén
          %tr
            %td Chicureo
          %tr
            %td Calera de Tango
          %tr
            %td Quilicura
          %tr
            %td Lo Barnechea
      .col-xs-12.col-sm-4.hidden-md.hidden-lg
        %table.delivery.text-center
          %tr
            %td La Florida
          %tr
            %td San Bernardo
          %tr
            %td Pudahuel
          %tr
            %td Maipú
          %tr
            %td El Bosque
          %tr
            %td La Pintana
          %tr
            %td Puente Alto
          %tr
            %td Padre Hurtado
          %tr
            %td ▪ Pirque
          %tr
            %td ▪ Lampa
          %tr
            %td ▪ Lomas de lo Aguirre
          %tr
            %td ▪ Colina
          %tr
            %td ▪ Peñaflor
          %tr
            %td ▪ Buin
          %tr
            %td ▪ Paine
          %tr
            %td ▪ Talagante
          %tr
            %td ▪ San José de Maipo
          %tr
            %td ▪ El Monte
          %tr
            %td ▪ Melipilla
          %tr
            %td ▪ Isla de Maipo
          %tr
            %td ▪ Casablanca
          %tr
            %td ▪ Rancagua
          %tr
            %td ▪ Casa Blanca
          %tr
            %td ▪ Olmué
          %tr
            %td ▪ Algarrobo
          %tr
            %td ▪ Valparaío
          %tr
            %td ▪ San Antonio
          %tr
            %td ▪ Con Con
      .table
        .col-md-4.hidden-xs.visible-md.visible-lg
          %table.delivery.text-center
            %tr
              %td Independencia
            %tr
              %td Recoleta
            %tr
              %td Santiago centro
            %tr
              %td Conchalí
            %tr
              %td Vitacura
            %tr
              %td La Reina
            %tr
              %td Ñuñoa
            %tr
              %td Las Condes
            %tr
              %td Quinta Normal
            %tr
              %td Estación Central
            %tr
              %td Renca
            %tr
              %td Macul
            %tr
              %td Huechuraba
            %tr
              %td San Miguel
            %tr
              %td San Joaquín
            %tr
              %td Pedro Aguirre Cerda
            %tr
              %td Cerro Navia
            %tr
              %td Lo Prado
            %tr
              %td Cerrillos
        .col-md-4.hidden-xs.visible-md.visible-lg
          %table.delivery.text-center
            %tr
              %td San Ramón
            %tr
              %td La Cisterna
            %tr
              %td La Granja
            %tr
              %td Lo Espejo
            %tr
              %td Peñalolén
            %tr
              %td Chicureo
            %tr
              %td Calera de Tango
            %tr
              %td Quilicura
            %tr
              %td Lo Barnechea
            %tr
              %td La Florida
            %tr
              %td San Bernardo
            %tr
              %td Pudahuel
            %tr
              %td Maipú
            %tr
              %td El Bosque
            %tr
              %td La Pintana
            %tr
              %td Puente Alto
            %tr
              %td Padre Hurtado
            %tr
              %td ▪ Pirque
            %tr
              %td ▪ Lampa
        .col-md-4.hidden-xs.visible-md.visible-lg
          %table.delivery.text-center
            %tr
              %td ▪ Lomas de lo Aguirre
            %tr
              %td ▪ Colina
            %tr
              %td ▪ Peñaflor
            %tr
              %td ▪ Buin
            %tr
              %td ▪ Paine
            %tr
              %td ▪ Talagante
            %tr
              %td ▪ San José de Maipo
            %tr
              %td ▪ El Monte
            %tr
              %td ▪ Melipilla
            %tr
              %td ▪ Isla de Maipo
            %tr
              %td ▪ Casablanca
            %tr
              %td ▪ Rancagua
            %tr
              %td ▪ Casa Blanca
            %tr
              %td ▪ Olmué
            %tr
              %td ▪ Algarrobo
            %tr
              %td ▪ Valparaío
            %tr
              %td ▪ San Antonio
            %tr
              %td ▪ Con Con
        .clearfix
    .clearfix
    #extra-delivery
      %h3 Otras tortas
      %p Llegamos sólo a las comunas que se indican a continuación.
      %p
        El horario de despacho es de
        %strong LUNES A VIERNES de 10:00 a 18:00 hrs.
      %p
        Por la gran cantidad de pedidos
        %strong NO PODEMOS DAR UNA HORA EXACTA DE ENTREGA.
      %p
        Los despachos son a domicilios claros, oficinas con estacionamiento propio y no entramos al centro de
        %strong SANTIAGO (PASEOS PEATONALES).
      %p
        Las tortas deben estar canceladas 24 horas antes del despacho.
        %strong El chofer no recibe dinero.
      %p El valor de despacho de tortas que no sean de novios, es de $5.000, y entregamos a:
      .col-xs-12.col-sm-4.col-sm-offset-2.hidden-md.hidden-lg
        %table.delivery.text-center
          %tr
            %td Recoleta
          %tr
            %td Independencia
          %tr
            %td Conchalí
          %tr
            %td Santiago Centro
          %tr
            %td Providencia
          %tr
            %td Huechuraba
          %tr
            %td Vitacura
      .col-xs-12.col-sm-4.hidden-md.hidden-lg
        %table.delivery.text-center
          %tr
            %td Las Condes
          %tr
            %td Ñuñoa
          %tr
            %td La Reina
          %tr
            %td Macul
          %tr
            %td Peñalolén
          %tr
            %td Lo Barnechea
      .table
        .col-md-4.hidden-xs.visible-md.visible-lg
          %table.delivery.text-center
            %tr
              %td Recoleta
            %tr
              %td Independencia
            %tr
              %td Conchalí
            %tr
              %td Santiago Centro
            %tr
              %td Providencia
        .col-md-4.hidden-xs.visible-md.visible-lg
          %table.delivery.text-center
            %tr
              %td Huechuraba
            %tr
              %td Vitacura
            %tr
              %td Las Condes
            %tr
              %td Ñuñoa
        .col-md-4.hidden-xs.visible-md.visible-lg
          %table.delivery.text-center
            %tr
              %td La Reina
            %tr
              %td Macul
            %tr
              %td Peñalolén
            %tr
              %td Lo Barnechea
        .clearfix
    .space
    %h1.text-center Generar despacho
    %hr.sep
    %span.btn-block.text-center
      = link_to 'Tortas Decoradas', new_delivery_url
    .space
