<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <h1 class="text-center">Cómo comprar en nuestra pastelería</h1>
    <hr class="sep">
    <p>Se le pedirá un anticipo del 50% que puede realizarlo en nuestra pastelería, por depósito o transferencia electrónica a la siguiente cuenta:</p>
    <div class="table">
      <div class="col-sm-8 col-sm-offset-2">
        <table class="cuenta-banco">
          <tr>
            <td>Número de cuenta:</td>
            <td class="text-center">35170355146</td>
          </tr>
          <tr>
            <td>RUT:</td>
            <td class="text-center">12.631.628-3</td>
          </tr>
          <tr>
            <td>Tipo de Cuenta:</td>
            <td class="text-center">Chequera Electrónica / Cuenta Vista</td>
          </tr>
          <tr>
            <td>Banco:</td>
            <td class="text-center">Banco Estado</td>
          </tr>
        </table>
        <p class="text-center">A nombre de Óscar Estay</p>
      </div>
      <div class="clearfix"></div>
    </div>
    <p>
      El 50% restante se debe cancelar el día de retiro de la torta, o bien un día antes si la torta será despachada. Si compra una torta de novios, este porcentaje debe ser pagado hasta 7 días antes de la entrega de la torta.
    </p>
    <p>
      Si realiza su pedido desde su domicilio o trabajo <b>envíenos el comprobante</b> de depósito o transferencia a nuestro email <b>info@artorta.cl</b> y luego <b>llámenos</b> para realizar su pedido.
    </p>
    <p>Para saber el valor de una torta, haga click en la imagen y aparecerá su precio.</p>
    <p>Recuerde que las tortas se piden con al menos 3 o 4 días de anticipación (menos las tortas de novios que son con mucho más tiempo). Pedidos con menos anticipación está sujetos a disponibilidad.</p>
    <p>
      <em><b>NO TRABAJAMOS CON TARJETAS DE CREDITO</b></em>
    </p>
    <h1 class="text-center">Horario</h1>
    <hr class="sep">
    <p>Lunes a Viernes de 09:30 a 19:00 y Sábado de 09:30 a 16:00.</p>
    <p>Para mayor información sobre la ubicación del local, hacer click <%= link_to "aquí", location_url %></p>
  </div>
</div>
