.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    %h1.text-center Cómo comprar en nuestra pastelería
    %hr.sep
    %p Se le pedirá un anticipo del 50% que puede realizarlo en nuestra pastelería, por depósito o transferencia electrónica a la siguiente cuenta:
    .table
      .col-sm-8.col-sm-offset-2
        / %table.cuenta-banco
        /   %tr
        /     %td Número de cuenta:
        /     %td.text-center 35170355146
        /   %tr
        /     %td RUT:
        /     %td.text-center 12.631.628-3
        /   %tr
        /     %td Tipo de Cuenta:
        /     %td.text-center Chequera Electrónica / Cuenta Vista
        /   %tr
        /     %td Banco:
        /     %td.text-center Banco Estado
        / %p.text-center A nombre de Óscar Estay
        %table.cuenta-banco
          %tr
            %td Número de cuenta:
            %td.text-center 000070095742
          %tr
            %td RUT:
            %td.text-center 18.927.933-7
          %tr
            %td Tipo de Cuenta:
            %td.text-center Cuenta Corriente
          %tr
            %td Banco:
            %td.text-center Santander
        %p.text-center A nombre de Óscar Estay Espínola
      .clearfix
    %p
      El 50% restante se debe cancelar el día de retiro de la torta, o bien un día antes si la torta será despachada. Si compra una torta de novios, este porcentaje debe ser pagado hasta 7 días antes de la entrega de la torta.
    %p
      Si realiza su pedido desde su domicilio o trabajo
      %b envíenos el comprobante
      de depósito o transferencia a nuestro email
      %b info@artorta.cl
      y luego
      %b llámenos
      para realizar su pedido.
    %p Para saber el valor de una torta, haga click en la imagen y aparecerá su precio.
    %p Recuerde que las tortas se piden con al menos 3 o 4 días de anticipación (menos las tortas de novios que son con mucho más tiempo). Pedidos con menos anticipación está sujetos a disponibilidad.
    %p
      %em
        %b NO TRABAJAMOS CON TARJETAS DE CREDITO
    %h1.text-center
      Horario
    %hr.sep
    %p Lunes a Viernes de 09:30 a 19:00 y Sábado de 09:30 a 16:00.
    %p
      Para mayor información sobre la ubicación del local, hacer click
      = link_to "aquí", location_url
.space
