<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <h1 class="text-center">Cómo comprar en nuestra pastelería</h1>
    <hr class="sep">
    <p>Si su torta la pide con despacho, debe transferir el 100% del valor de la torta más los $ 5.000 del despacho y luego nos llama para tomar su pedido.</p>
    <p>Si su torta la retira en nuestra pastelería debe transferir el 50% del valor de su torta y en la entrega el 50% restante.</p>
    <p>Los datos de transferencia son:</p>
    <div class="table">
      <div class="col-sm-8 col-sm-offset-2">
        <table class="cuenta-banco">
          <tr>
            <td>Número de cuenta:</td>
            <td class="text-center">35170355146</td>
          </tr>
          <tr>
            <td>RUT:</td>
            <td class="text-center">12.631.628-3</td>
          </tr>
          <tr>
            <td>Tipo de Cuenta:</td>
            <td class="text-center">Chequera Electrónica / Cuenta Vista</td>
          </tr>
          <tr>
            <td>Banco:</td>
            <td class="text-center">Banco Estado</td>
          </tr>
        </table>
        <p class="text-center">A nombre de Óscar Estay</p>
      </div>
      <div class="clearfix"></div>
    </div>
    <p>
      <b>Envíenos el comprobante</b> de depósito o transferencia a nuestro email <b>info@artorta.cl</b>
    <p>
      <em><b>NO TRABAJAMOS CON TARJETAS DE CREDITO</b></em>
    </p>
    <h1 class="text-center">Horario</h1>
    <hr class="sep">
    <p>Lunes a Viernes de 09:30 a 19:00 y Sábado de 09:30 a 14:00.</p>
    <p>Para mayor información sobre la ubicación del local, hacer click <%= link_to "aquí", location_url %></p>
  </div>
</div>
