%h1.text-center Cake Mapping
%hr.sep
.col-xs-12.col-sm-6.col-sm-offset-1
  #cakemapping-video
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/O0rupkiquV8", :width => "560"}
.col-xs-12.col-sm-5
  %p
    El Cake Mapping es una proyección personalizada en tu torta. Películas, fotos, animaciones o lo que tu quieras en tu torta.
  %p
    Somos los primeros en traer esta forma de decorar tus tortas a través de la exactitud de una proyección entretenida.
  %p
    Nuestro servicio consta de:
  %ul
    %li Una torta de 4 pisos forrada en blanco y de estatura exacta para la proyección (mínimo 120 personas).
    %li Proyección continua en el salón de eventos.
    %li Valor: $3.400 por persona (plantillas establecidas).
    %li Valor: $3.800 por persona (proyecciones personalizadas).
.clearfix
.col-xs-12.col-sm-10.col-sm-offset-1
  %p Estamos preparando proyecciones románticas, UP y Star Wars para novios.
  %p Además podemos proyectar fotografías para matrimonios, cumpleaños, graduaciones, etc.
  .clearfix
  .space
.clearfix
.space
.clearfix
