<h1>Despacho</h1>
<hr class="sep"/>

<p>El valor del despacho es de $ 3.000.</p>
<p>Para solicitar tortas con despachos se debe cancelar el 100% del valor de la torta más el valor del despacho al momento de la reserva.</p>
<p>Los repartidores no reciben dinero.</p>
<p>Para recibir el pedido el mismo día del encargo, debe realizarlo antes de las 10:00 AM.</p>
<p>Por la cantidad de pedidos no podemos dar una hora exacta de entrega.</p>
<p>LLegamos sólo a las comunas que se indican a continuación:</p>
<div class="delivery__communes">
  <div class="delivery-communes__group">
    <p>Recoleta</p>
    <p>Independencia</p>
    <p>Conchalí</p>
    <p>Santiago centro</p>
    <p>Huechuraba</p>
  </div>
  <div class="delivery-communes__group">
    <p>Vitacura</p>
    <p>Las Condes</p>
    <p>Providencia</p>
    <p>Ñuñoa</p>
    <p>La Reina</p>
  </div>
  <div class="delivery-communes__group">
    <p>Lo Barnechea</p>
    <p>Peñalolén</p>
    <p>Macul</p>
    <p>San Miguel</p>
    <p>San Joaquín</p>
  </div>
</div>
