<h1>Despacho</h1>
<hr class="sep"/>

<h3>Tortas de novios</h3>
<p>Los valores de los despachos de tortas de novios varían sólo por la lejanía de nuestro local al local del matrimonio.</p>
<p>Es importante saber que los despachos tienen un rango de horario que va de 1 a 4 horas antes del matrimonio, o sea, si su matrimonio es a las 21:00 hrs. podemos llegar desde 16:00 hrs. hasta las 20:00 hrs.</p>
<p>Los despachos para tortas de menos de 100 personas se rige bajo los despachos de tortas normales, o sea, de lunes a viernes antes de las 18:00 hrs.</p>
<p>Los sectores marcados con un ▪ se despachan en la mañana, antes de las 13:00 hrs.</p>
<p>
  Teniendo claro los puntos anteriores y sabiendo que llevamos un producto alimenticio, la pastelería no se hace responsable de tortas instaladas en carpas, recintos cerrados con mucho calor o cerca de una chimenea. (ESA ES RESPONSABILIDAD DEL CLIENTE)
</p>
<p>El valor de despacho es de $20.000, y entregamos a las comunas:</p>
<div class="delivery__communes">
  <div class="delivery-communes__group">
    <p>Independencia</p>
    <p>Recoleta</p>
    <p>Santiago centro</p>
    <p>Conchalí</p>
    <p>Vitacura</p>
    <p>La Reina</p>
    <p>Ñuñoa</p>
    <p>Las Condes</p>
    <p>Quinta Normal</p>
    <p>Estación Central</p>
    <p>Renca</p>
    <p>Macul</p>
    <p>Huechuraba</p>
    <p>San Miguel</p>
    <p>San Joaquín</p>
    <p>Pedro Aguirre Cerda</p>
    <p>Cerro Navia</p>
    <p>Lo Prado</p>
  </div>
  <div class="delivery-communes__group">
    <p>Cerrillos</p>
    <p>San Ramón</p>
    <p>La Cisterna</p>
    <p>La Granja</p>
    <p>Lo Espejo</p>
    <p>Peñalolén</p>
    <p>Chicureo</p>
    <p>Calera de Tango</p>
    <p>Quilicura</p>
    <p>Lo Barnechea</p>
    <p>La Florida</p>
    <p>San Bernardo</p>
    <p>Pudahuel</p>
    <p>Maipú</p>
    <p>El Bosque</p>
    <p>La Pintana</p>
    <p>Puente Alto</p>
    <p>Padre Hurtado</p>
  </div>
  <div class="delivery-communes__group">
    <p>▪ Pirque</p>
    <p>▪ Lampa</p>
    <p>▪ Lomas de lo Aguirre</p>
    <p>▪ Colina</p>
    <p>▪ Peñaflor</p>
    <p>▪ Buin</p>
    <p>▪ Paine</p>
    <p>▪ Talagante</p>
    <p>▪ San José de Maipo</p>
    <p>▪ El Monte</p>
    <p>▪ Melipilla</p>
    <p>▪ Isla de Maipo</p>
    <p>▪ Casablanca</p>
    <p>▪ Rancagua</p>
    <p>▪ Casa Blanca</p>
    <p>▪ Olmué</p>
    <p>▪ Algarrobo</p>
    <p>▪ Valparaío</p>
    <p>▪ San Antonio</p>
    <p>▪ Con Con</p>
  </div>
</div>
<h3>Otras tortas</h3>
<p>Llegamos sólo a las comunas que se indican a continuación.</p>
<p>
  El horario de despacho es de
  <strong>LUNES A VIERNES de 10:00 a 18:00 hrs.</strong>
</p>
<p>
  Por la gran cantidad de pedidos
  <strong>NO PODEMOS DAR UNA HORA EXACTA DE ENTREGA.</strong>
</p>
<p>
  Los despachos son a domicilios claros, oficinas con estacionamiento propio y no entramos al centro de
  <strong>SANTIAGO (PASEOS PEATONALES).</strong>
</p>
<p>
  Las tortas deben estar canceladas 24 horas antes del despacho.
  <strong>El chofer no recibe dinero.</strong>
</p>
<p>El valor de despacho de tortas que no sean de novios, es de $5.000, y entregamos a:</p>
<div class="delivery__communes">
  <div class="delivery-communes__group">
    <p>Recoleta</p>
    <p>Independencia</p>
    <p>Conchalí</p>
    <p>Santiago Centro</p>
    <p>Providencia</p>
    <p>Huechuraba</p>
    <p>Vitacura</p>
  </div>
  <div class="delivery-communes__group">
    <p>Las Condes</p>
    <p>Ñuñoa</p>
    <p>La Reina</p>
    <p>Macul</p>
    <p>Peñalolén</p>
    <p>Lo Barnechea</p>
  </div>
</div>
