<h1>¡Nuevos sabores!</h1>
<hr class="sep"/>
<table class="flavours__table">
  <tr>
    <td>
      <p>
        Naranja
      </p>
    </td>
    <td>
      <p>
        Panqueque de Vainilla relleno con mermelada de naranja y manjar.
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        Frambuesa
      </p>
    </td>
    <td>
      <p>
        Panqueque de Vainilla relleno con mermelada de frambuesa y manjar.
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        Lúcuma
      </p>
    </td>
    <td>
      <p>
        Panqueque de Vainilla relleno con puré de lúcuma y manjar.
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        Frutos del bosque
      </p>
    </td>
    <td>
      <p>
        Panqueque de Vainilla relleno con mermelada de frutos del bosque y manjar.
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        Manjar Vainilla
      </p>
    </td>
    <td>
      <p>
        Panqueque de Vainilla relleno con manjar y crema pastelera.
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        Mango
      </p>
    </td>
    <td>
      <p>
        Panqueque de Vainilla relleno con cremfil de mango y manjar.
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        Castaña Nuez
      </p>
    </td>
    <td>
      <p>
        Panqueque de Vainilla relleno con puré de castaña y manjar nuez.
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        Orange Choc
      </p>
    </td>
    <td>
      <p>
        Suave panqueque de vainilla relleno de huevo mol de naranja y crema Suiza de Chocolate.
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        Pompadour
      </p>
    </td>
    <td>
      <p>
        Panqueque de vainilla relleno con crema Alemana y almendras tostadas (crema alemana: suave crema de mantequilla mezclada con crema de vainilla y almendras tostadas).
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        Torta ácida
      </p>
    </td>
    <td>
      <p>
        Panqueque de vainilla relleno con mousse de limón y frambuesas naturales.
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        Chocolate
      </p>
    </td>
    <td>
      <p>
        Panqueque de chocolate relleno de ganache y mermelada de frambuesa.
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        Tres Chocolates
      </p>
    </td>
    <td>
      <p>
        Exquisito panqueque de chocolate relleno de Fudge, trufa blanca y chocolate Suizo.
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        Moca Blanca
      </p>
    </td>
    <td>
      <p>
        Manjar de moca con nuez, mermelada de frambuesa y trufa blanca.
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        Maracuyá
      </p>
    </td>
    <td>
      <p>
        Panqueque de chocolate relleno con mousse de maracuyá.
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        Tropical
      </p>
    </td>
    <td>
      <p>
        Panqueque de vainilla relleno con chocolate blanco, crema de mango y crema de coco.
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        Chirimoya alegre
      </p>
    </td>
    <td>
      <p>
        Panqueque de vainilla relleno con crema de chirimoya y crema de naranjas todo untado en nectar de naranja.
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        Panqueque Arándano
      </p>
    </td>
    <td>
      <p>
        Panqueque de Vainilla relleno con mermelada de arándanos y manjar.
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        Panqueque Limón
      </p>
    </td>
    <td>
      <p>
        Paqueque de vainilla relleno con crema de limón y manjar.
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        Panqueque Almendra
      </p>
    </td>
    <td>
      <p>
        Panqueque de vainilla relleno con pasta de almendras y manjar.
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        Panqueque Moca
      </p>
    </td>
    <td>
      <p>
        Panqueque de vainilla relleno con crema de café y manjar.
      </p>
    </td>
  </tr>
</table>
