<h1>Nuestra Pastelería</h1>
<hr class="sep">
<p>En 1996 se crea esta empresa familiar y empiezan así sus primeros diseños para empresas privadas e instituciones del área gastronómica. Con la fama ganada por su calidad y originalidad fuimos invitados a una serie de eventos y programas de televisión donde empezamos a crear todo tipo de diseños y a ser reconocidos por la gente.</p>
<p>
  Con esta gran demanda, el año 2000 se crea Art-Torta, cuyo objetivo es combinar un exquisíto sabor con los diseños más originales que se hayan visto en las pastelerías de nuestro país. Tanto es así que de un par de diseños en nuestros comienzos ahora contamos con más de tres mil.
</p>
<p>
  Todas las semanas nuestra gran cantidad de clientes nos proponen ideas nuevas para sus tortas, las que tomamos como un reto para llenar todas sus expectativas. En nuestra pastelería contamos con algunos diseños donde usted podrá comprobar nuestro trabajo y hacer todas las consultas que usted quiera.
</p>
<p>
  Cuando partimos en el año 1996 fuímos la única pastelería dedicada 100% al área decorativa en nuestro país. Ahora luego de casi 20 años, nos propusimos estar dentro de las 10 mejores pastelerías decorativas a nivel mundial. Es por esto que a partir del año 2016 empezaremos con más de 200 diseños nuevos y con un evento a realizar en el mes de Marzo con diseños fantásticos y nunca vistos. Esté atento.
</p>

<div class="us__images">
  <%= image_tag('us0.jpg', class: 'us__image-item') %>
  <%= image_tag('us1.jpg', class: 'us__image-item') %>
  <%= image_tag('us2.jpg', class: 'us__image-item') %>
</div>
