.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;

  &--mini {
    justify-content: center;
  }
}

.btn {
  background: $font-color;
  border-radius: 0;
  border: 3px solid #fff;
  color: #fff;
  flex: 1;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0 15px 15px;
  min-width: 300px;
  max-width: 400px; padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: #fff;
    color: $font-color;
    border-color: $font-color;
  }

  &--mini {
    flex: 0;
    min-width: fit-content;
    margin: 0 5px 5px 0;
    padding: 5px;
  }

  &--inverted {
    background: #fff;
    border: 3px solid $font-color;
    color: $font-color;

    &:hover,
    &:focus,
    &:active {
      background: $font-color;
      color: #fff;
      border-color: #fff;
    }
  }

  &--highlight {
    background: #46758C;
    border: 3px solid #fff;
    color: #fff;

    &:hover,
    &:focus,
    &:active {
      border: 3px solid #46758C;
      color: #46758C;
      background: #fff;
    }
  }
}
