/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require fancybox
 *= require_self
 *= require bootstrap.min
 *= require bootstrap-theme.min
 *= require select2
 *= require select2-bootstrap
 *= require owl.carousel
 *= require owl-theme
 *= require font-awesome
 *= require animate
 *= require rise
 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

$dark-color: #24242a;
$light-color: #fff;
$font-color: #0d0d0d;
$link-color: #636363;

/* ==========================================================================
Global Styles
========================================================================== */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: $font-color;
  overflow-x: hidden;
}

.sep {
  max-width: 80px;
  border: 2px solid $font-color;
  margin-top: 10px;
  margin-bottom: 30px;
}

.light-sep {
  max-width: 80px;
  border: 2px solid #fff;
  margin-top: 10px;
  margin-bottom: 30px;
}

.thin-sep {
  max-width: 80px;
  border: 1px solid $font-color;
  margin-top: 10px;
  margin-bottom: 30px;
}

.light-thin-sep {
  max-width: 80px;
  border: 1px solid #fff;
  margin-top: 10px;
  margin-bottom: 30px;
}
/* ==========================================================================
Typography
========================================================================== */
h1 {
  font-size: 72px;
  font-weight: 300;
  letter-spacing: 0.16em;
}

h2 {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

h3 {
  font-size: 26px;
  font-weight: 400;
}

h4 {
  font-size: 24px;
  font-weight: 400;
}

h5 {
  font-size: 22px;
  font-weight: 400;
}

h6 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

p {
  font-size: 16px;
  font-weight: 400;
}

/* ==========================================================================
Buttons Styles
========================================================================== */
.btn-transparent {
  background: transparent;
  border: 3px solid #fff;
  padding: 15px 30px;
  font-size: 14px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #fff;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.btn-transparent:hover,
.btn-transparent:focus,
.btn-transparent:active {
  background: #fff;
  color: $font-color;
  text-decoration: none;
}

.btn-light {
  background: #fff;
  border: 3px solid #fff;
  padding: 15px 30px;
  font-size: 14px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: $font-color;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
  background: transparent;
  color: #fff;
  text-decoration: none;
}

.btn-block {
  background: #24242a;
  font-size: 16px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #fff;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 3px solid $dark-color;
  a{
    display: block;
    padding: 15px 0;
    width: 100%;
    color: #fff;
  }
}

.btn-block:hover,
.btn-block:focus,
.btn-block:active {
  background: #fff;
  color: $font-color;
  text-decoration: none;
  a{
    color: $font-color;
    text-decoration: none;
  }
}

/* ==========================================================================
Layout
========================================================================== */
.dark-bg {
  background: $dark-color;
  color: #fff;
}

.light-bg {
  background: #fff;
  color: $font-color;
}

/* ==========================================================================
Preloader Style
========================================================================== */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background: $dark-color;
  visibility: hidden;
}
.preloader i {
  color: #fff;
  position: absolute;
  font-size: 36px;
  line-height: 36px;
  top: 50%;
  left: 50%;
  height: 36px;
  width: 36px;
  margin-top: -15px;
  margin-left: -15px;
  display: inline-block;
}

/* ==========================================================================
Space divs
========================================================================== */

.nav-space{
  width: 100%;
  height: 93px;
}

/* ==========================================================================
Flash and notices
========================================================================== */

.flash {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#flash_error,
#flash_alert {
    background-color: rgb(255, 212, 212);
    color: rgb(199, 0, 0);
    border: 2px solid rgb(199, 0, 0);
}

#flash_success,
#flash_notice {
    background-color: rgb(212, 255, 224);
    color: rgb(0, 125, 35);
    border: 2px solid rgb(0, 125, 35);
}

/* ==========================================================================
Form
========================================================================== */

.form-group {
  margin-bottom: 35px;
}
.form-control {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 2px solid #24242a;
  color: #0d0d0d;
  min-height: 45px;
}

.form-control.select{
  border: 2px solid #24242a;
  color: #24242a;
  font-weight: bold;
  -webkit-appearance: none;
  background: image-url("dropdown_arrow.png") no-repeat right center;
}

.nested-fields{
  margin: 15px 0;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

/* ==========================================================================
Search
========================================================================== */

#search-form {
  width: 100%;
  font-size: 0;
  margin: 15px 0;

  #search_field, #category_field {
    border: 2px solid #24242a;
    margin: 0 !important;
    padding: 0 !important;
  }
  #search_field, #category_field, #submit_button {
    display: inline-block;
    vertical-align: top;
    border-right: 0;
    height: 45px;
  }
  #search_field{
    width: 50%;
  }
  #category_field {
    width: 30%;
  }
  #search {
    font-size: 16px;
    height: 100%;
    width: 100%;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #0d0d0d;
  }
  #category {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 16px;
    width: 100%;
    height: 100%;
    color: #24242a;
    font-weight: bold;
    text-indent: 5px;
    -webkit-appearance: none;
    background: image-url("dropdown_arrow.png") no-repeat right center;
  }
  #submit_button {
    width: 20%;
  }
  #search-button{
    width: 100%;
    height: 100%;
    background: #24242a;
    padding: 12px 0;
    font-size: 14px;
    color: #fff;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: 2px solid $dark-color;
    &:hover,
    &:focus,
    &:active {
      background: #fff;
      color: $font-color;
      text-decoration: none;
    }
  }
}

@media (max-width: 768px){
  #search-form{
    #search_field, #category_field, #submit_button{
      width: 100%;
    }
    #search_field, #category_field{
      border-right: 2px solid $dark-color;
    }
  }
}

/* ==========================================================================
Cake
========================================================================== */

.cake {
  margin-bottom: 20px;
  img{
    border: 3px solid $dark-color;
  }
}
.cake_info{
  a{
    color: $link-color;
    &:hover{
      color: #a3a3a3;
      text-decoration: none;
    }
  }
}


/* ==========================================================================
Cake Modal
========================================================================== */

.cake-modal{
  background: #fff;
  border: 5px solid $dark-color;
  img{
    max-width: 100%;
    border: 3px solid $dark-color;
  }
  .close{
    color: $dark-color;
    opacity: 1;
    &:hover{
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      opacity: .2;
    }
  }
}

/* ==========================================================================
Pagination
========================================================================== */

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }
