#owl-hero.owl-carousel.owl-theme
  .item
    = image_tag('slider_0.jpg')
  .item
    = image_tag('slider_1.jpg')
  .item
    = image_tag('slider_2.jpg')
  .item
    = image_tag('slider_3.jpg')
.clearfix
