.col-xs-12.col-sm-10.col-sm-offset-1
  = form_tag(search_path, :method => "get", id: "search-form") do
    #search_field
      = autocomplete_field_tag('tag_list', '', autocomplete_tag_name_cakes_path, :size => 75, 'data-delimiter' => ' ', :multiple => true)
    #category_field
      = select_tag :category, options_for_select([['Todos', 'all'], ['Tortas Decoradas', 'decoradas'], ['Tortas de Novios', 'novios'], ['Tortas Tradicionales', 'tradicionales'], ['Cupcakes', 'cupcakes']]), :label => false, include_blank: false, class: "select"
    #submit_button
      = submit_tag "Buscar", id: "search-button"
.clearfix
